@font-face
{
	font-family:AdobeArabic;
	src:url("fonts/AdobeArabic.otf");
}
@font-face
{
	font-family:homa;
	src:url("fonts/homa.ttf");
}
@font-face
{
	font-family:zohoor;
	src:url("fonts/Entezar1_v2.0.1.ttf")
}
@font-face
{
	font-family: nazanin;
	src:url("fonts/B-NAZANIN.TTF");
}